.botoes {
    margin-top: 20px;
    margin-bottom: 5%;
}

.botao{
    margin-left: 20px;
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.0rem;

    text-decoration: none;

    padding: 10px;
    background-color: #D3D3D3;
    color: #000  ;
    border-radius: 60px;

}




